.about-section {

    h2 {
        position: relative;
        display: inline-block;
        margin-bottom: 1em;
        margin-top: 4em;
        margin-left: 50px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -30px;
            width: 50%;
            border-bottom: 4px solid white;
        }
    }

    .about-content {
        margin: auto;
        width: 90%;


        .about-paragraphs {
            padding-top: 2em;

            p {
                margin-bottom: 30px;

                img {
                    float: right;
                    width: 200px;
                    height: auto;
                }
            }

            a {
                text-decoration: none;
                color: #fa7a78;

                &:hover {
                    text-shadow: 3px 3px white;
                }
            }
        }


    }
}

// Media queries pour les écrans de bureau
@media (min-width: 992px) {
    .about-section {
        margin-left: 30px;


        h2 {
            margin-left: 250px;
            margin-top: 0.5em;
        }

        .about-content {
            margin: 8% auto;

            .about-paragraphs {
                padding-top: 1em;

                p {
                    img {
                        width: 350px;
                    }
                }

            }


        }
    }
}