h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;

}

h3 {
    font-size: 1.25rem;
}

a {
    font-size: 1.25rem;

}

p,
input,
textarea {
    font-size: 1.25rem;

}

.presentation-div-button,
.contact-form {
    button {
        font-size: 1.25rem;

    }
}

// Media queries pour les tablettes
@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    a {
        font-size: 1.5rem;
    }

    p,
    input,
    textarea {
        font-size: 1.5rem;


    }

    .presentation-div-button,
    .contact-form {
        button {
            font-size: 1.5rem;
        }
    }
}

// Media queries pour les écrans de bureau
@media (min-width: 992px) {
    h1 {
        font-size: 4rem;
        letter-spacing: 0.3rem;

    }

    h2 {
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
    }

    h3 {
        font-size: 2rem;
    }

    a {
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }

    p,
    input,
    textarea {
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }

    .presentation-div-button,
    .contact-form {
        button {
            font-size: 2rem;
            letter-spacing: 0.3rem;
        }
    }
}