.logo {
    img {
        width: 100px;
        height: auto;
    }
}

// Media Queries pour les tablettes
@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        img {
            width: 120px;
            height: auto;
        }
    }
}

// Media Queries pour les écrans de bureau (Desk)
@media (min-width: 992px) {
    .logo {
        img {
            width: 150px;
            height: auto;
        }
    }
}