    nav {

        width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: #fa757b;
            }
        }
    }